project:
  type: website
  resources:
    - "assets/*"
    - "talks/**/*"
  output-dir: docs

website:
  page-navigation: true
  open-graph: true
  google-analytics:
    tracking-id: "G-Q1SQLS91HT"
    storage: none
  title: "Jay Paul Morgan"
  site-url: https://morganwastaken.com
  repo-url: https://github.com/jaypmorgan/morganwastaken.com
  repo-actions:
  - source
  - edit
  - issue
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: publications.qmd
        text: Publications
      - href: talks.qmd
        text: Talks
      - href: projects.qmd
        text: Projects
      - href: teaching.qmd
        text: Teaching
      - href: posts.qmd
        text: Blog
      - href: artwork.qmd
        text: Artwork
      - href: resume.qmd
        text: Résumé
  page-footer:
    border: true
    left:
      - text: "© {{< now year >}} Jay Paul Morgan"
    right:
      - icon: github
        href: https://github.com/jaypmorgan
      - icon: linkedin
        href: https://www.linkedin.com/in/jay-p-morgan/
      - text: "{{< ai google-scholar-square size=lg >}}"
        href: https://scholar.google.com/citations?user=AO1az5YAAAAJ&hl=en
      - text: "{{< ai researchgate-square size=lg >}}"
        href: https://www.researchgate.net/profile/Jay-Morgan
      - text: "{{< ai orcid size=lg >}}"
        href: https://orcid.org/my-orcid?orcid=0000-0003-3719-362X

format:
  html:
    theme:
      light: cosmo
    css:
      - styles.css
    toc: true
    canonical-url: true

babelquarto:
  languagelinks: sidebar
  languagecodes:
  - name: en
    text: "English"
  languages: ["en"]
  mainlanguage: 'en'
lang: en

editor: visual

execute:
  freeze: auto
